@keyframes slider_s {
    0%{transform: translateX(0px);}
    10%{transform: translateX(-332px);}
    33%{transform: translateX(-332px);}
    43%{transform: translateX(-664px);}
    66%{transform: translateX(-664px);}
    76%{transform: translateX(-996px);}
    100%{transform: translateX(-996px);}
}
.container_s{width: 332px; height: 225px; overflow: hidden; border-radius: 5px; border-radius: 5px}
.itemList_s{width: 9999px; margin: 0; padding: 0; border: 0; position: relative; font-size: 0;}
.itemListSlider_s{left: 0; animation: slider_s 6s linear infinite;}
.itemList_s:hover{animation-play-state:paused;}
.item_s{width: 332px; height: 225px; margin: 0; padding: 0; border: 0; display: inline-block;}
.item1_s{background: url("../images/adv1.jpg"); width: 332px; height: 225px;}
.item2_s{background: url("../images/adv5.jpg"); width: 332px; height: 225px;}
.item3_s{background: url("../images/adv6.jpg");width: 332px; height: 225px;}

#zhouyi,#zhouer,#zhousan,#zhousi,#zhouwu,#zhouliu,#zhouri{
    cursor: pointer;
}
a{
    text-decoration: none;
}

#main {
    width: 970px;
    height: auto;
    margin: auto;
}
#logo li{
    display: inline;
}
.logo-font{
    color: #666666;
    font-size: 14px;
    cursor: pointer;
}
#menu_one li{
    display: inline;
    margin-left: 10px;
}
#scroll{
    height: 250px;
    width: 970px;
    background-color:rgb(255,230,230);

}
#scroll img{
    margin-top: 10px;
    margin-left: 5px;
}
#menu_two{
    margin-top: -10px;
}
#menu_two li{
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;

}
.menu_two_1{
    margin-left: 0px;
    padding-left: 0px;
}
.menu_two_1 li{
    display: inline;
    list-style-type: none;
    font-size: 10px;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
}
.menu_two_2{
    margin-left:0px;
    padding-left: 0px;
}
.menu_two_2 li {
    display: inline;
    margin-left:0px;
    padding-left: 15px;
    font-size: 10px;
    text-align: left;
}
.menu_two_3{
    margin-left:0px;
    padding-left: 0px;
}
.menu_two_3 li {
    display: inline;
    margin-left:20px;
    text-align: left;
    font-size: 10px;
}
.最近更新 {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.最近更新 li{
    display: inline-block;
    padding: 0px;
    margin-left: 12px;
    width: 140px;
    height:184px;
}
.最近更新 li p{
    margin-top: 0px;
    font-size: 14px;
    font-family: 宋体;
}
#jiewei p{
    font-size: 12px;
    font-family: 宋体;
    text-align: center;
}
a:link {color: #666666;text-decoration: none}      /* 未访问链接*/
a:visited {color:black;text-decoration: none}  /* visited link */
a:hover {color:deeppink;}  /* mouse over link */
a:active {color:pink;}  /* selected link */